
		<div id="container" class="container">	
			<div class="menu-panel">
				<h3>Pages</h3>
				<ul id="menu-toc" class="menu-toc">
				  <% @flipbook_images.each_with_index do |page, i| %>
					<% if i == 0 %>
					<li class="menu-toc-current"><a href="#item<%= i %>"><%= File.basename(page, ".jpg") %></a></li><% else %>
					<li><a href="#item<%= i %>"><%= File.basename(page, ".jpg") %></a></li> <% end %>
				  <% end %>
				</ul>
			</div>
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
				  <% @flipbook_images.each_with_index do |page, i| %>
					<div class="bb-item" id="item<%= i %>">
						<div class="content">
							<div class="scroller">
								<img src="<%= page %>" width="100%"></img>
							</div>
						</div>
					</div>
				  <% end %>
				</div>
				<nav>
					<span id="bb-nav-prev">&larr;</span>
					<span id="bb-nav-next">&rarr;</span>
				</nav>

				<span id="tblcontents" class="menu-button">Table of Contents</span>
			</div>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<script>
			$(function() {

				Page.init();

			});
		</script>
